In [2]:
from __future__ import division
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import host_subplot
import mpl_toolkits.axisartist as AA
from global_land_mask import globe

In [3]:
df_veh = pd.read_csv('vehicle_population.csv')

In [4]:
df_veh.head()

   vehicle_ID        V_x        V_y
0           1  25.368490  55.487431
1           2  25.244684  55.483104
2           3  25.265855  55.461110
3           4  25.266825  55.494608
4           5  25.338874  55.510999

In [5]:
df_lanes = pd.read_csv('lanes.csv')

In [6]:
df_lanes.head()

   Lane_ID        L_x        L_y
0        1  25.317698  55.488839
1        2  25.298846  55.454846
2        3  25.298403  55.438383
3        4  25.286199  55.427122
4        5  25.297760  55.396421

In [7]:
df_veh['on_land'] = globe.is_land(df_veh['V_x'], df_veh['V_y'])

In [8]:
df_veh.head()

   vehicle_ID        V_x        V_y  on_land
0           1  25.368490  55.487431     True
1           2  25.244684  55.483104     True
2           3  25.265855  55.461110     True
3           4  25.266825  55.494608     True
4           5  25.338874  55.510999     True

In [9]:
df_veh['on_land'].value_counts()

True     4452
False     548
Name: on_land, dtype: int64

In [10]:
df_veh_on_sea = df_veh.query('on_land == False')

In [18]:
df_veh_on_land = df_veh.drop(df_veh[df_veh['on_land'] == False].index)

In [20]:
df_veh_on_sea['on_land'].value_counts()

False    548
Name: on_land, dtype: int64

In [19]:
df_veh_on_land['on_land'].value_counts()

True    4452
Name: on_land, dtype: int64

In [21]:
df_veh_on_land.to_csv('vehicles.csv',index=False)